<h1>1. Write program to illustrate variables, constants, data types and type conversion.</h1>

<h3>Variables and Constants Example</h3>

In [1]:
# Variable (value can be changed)
name = "Nisha"
age = 20
height = 5.6

# Constant 
PI = 3.14159
GRAVITY = 9.8

print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Constant PI:", PI)
print("Constant GRAVITY:", GRAVITY)

Name: Nisha
Age: 20
Height: 5.6
Constant PI: 3.14159
Constant GRAVITY: 9.8

<h3>Data Types Example</h3>

In [2]:
integer_var = 10              
float_var = 3.14              
string_var = "Hello"          
boolean_var = True            
list_var = [1, 2, 3, 4, 5]   
tuple_var = (10, 20, 30)      
set_var = {1, 2, 3, 4, 5}     
dict_var = {"a": 1, "b": 2}   

print("Integer:", integer_var)
print("Float:", float_var)
print("String:", string_var)
print("Boolean:", boolean_var)
print("List:", list_var)
print("Tuple:", tuple_var)
print("Set:", set_var)
print("Dictionary:", dict_var)

Integer: 10
Float: 3.14
String: Hello
Boolean: True
List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30)
Set: {1, 2, 3, 4, 5}
Dictionary: {'a': 1, 'b': 2}

<h3>Type Conversion Example</h3>

In [ ]:
# Implicit Type Conversion
num_int = 10
num_float = 2.5

result = num_int + num_float   
print("Implicit Conversion Result:", result)

# Explicit Type Conversion (Casting)
num_str = "100"
num_int2 = int(num_str)        
num_float2 = float(num_str)    

print("String to Int:", num_int2)
print("String to Float:", num_float2)

# Converting float to int 
x = 9.99
y = int(x)
print("Float to Int:", y)

Implicit Conversion Result: 12.5
String to Int: 100
String to Float: 100.0
Float to Int: 9

<h1>2. Write program to demonstrate different types of operators available in python and perform calculations.</h1>

<h3>1. Arithmetic operations</h3>

In [29]:
a = 10
b = 5

print("Arithmetic Operators")
print("a + b =", a + b)   
print("a - b =", a - b)   
print("a * b =", a * b)   
print("a / b =", a / b)   
print("a % b =", a % b)   
print("a ** b =", a ** b) 
print("a // b =", a // b)

Arithmetic Operators
a + b = 15
a - b = 5
a * b = 50
a / b = 2.0
a % b = 0
a ** b = 100000
a // b = 2

<h3>2.Comparison Operations</h3>

In [30]:
a = 10
b = 5

print("\nComparison Operators ")
print("a == b:", a == b)  
print("a != b:", a != b)  
print("a > b:", a > b)    
print("a < b:", a < b)    
print("a >= b:", a >= b)  
print("a <= b:", a <= b)

Comparison Operators
a == b: False
a != b: True
a > b: True
a < b: False
a >= b: True
a <= b: False

<h3>3.Logical Operators</h3>

In [32]:
print("\nLogical Operators")
x = True
y = False
print("x and y:", x and y)
print("x or y:", x or y)
print("not x:", not x)

Logical Operators
x and y: False
x or y: True
not x: False

<h3>4.Assignment Operators</h3>

In [ ]:
print("\nAssignment Operators")
c = 10
print("c =", c)
c += 5
print("c += 5:", c)
c -= 3
print("c -= 3:", c)
c *= 2
print("c *= 2:", c)
c /= 4
print("c /= 4:", c)
c %= 3
print("c %= 3:", c)
c **= 2
print("c **= 2:", c)
c //= 2
print("c //= 2:", c)

<h3>5.Bitwise Operators</h3>

In [34]:
print("\nBitwise Operators")
m = 6   # binary: 110
n = 3   # binary: 011
print("m & n :", m & n)
print("m | n :", m | n)
print("m ^ n :", m ^ n)
print("~m :", ~m)
print("m << 1 :", m << 1)
print("m >> 1 :", m >> 1)

Bitwise Operators
m & n : 2
m | n : 7
m ^ n : 5
~m : -7
m << 1 : 12
m >> 1 : 3

<h3>6.Identity Operators</h3>

In [35]:
print("\nIdentity Operators")
p = [1, 2, 3]
q = p
r = [1, 2, 3]
print("p is q:", p is q)       
print("p is r:", p is r)       
print("p is not r:", p is not r)

Identity Operators
p is q: True
p is r: False
p is not r: True

<h3>7.Membership Operators</h3>

In [11]:
print("\nMembership Operators")
nums = [1, 2, 3, 4, 5]
print("3 in nums:", 3 in nums)
print("10 not in nums:", 10 not in nums)

Membership Operators
3 in nums: True
10 not in nums: True

<h1>3.Write program to make use of I/O functions.</h1>

In [1]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
marks = float(input("Enter your marks: "))

next_age = age + 1
percentage = (marks / 100) * 100  
print("\n---- Output ----")
print("Hello,", name)
print("Your current age is:", age)
print("Next year you will be:", next_age)
print("Your marks are:", marks, "which is", percentage, "%")

Enter your name:  Nisha
Enter your age:  29
Enter your marks:  5

---- Output ----
Hello, Nisha
Your current age is: 29
Next year you will be: 30
Your marks are: 5.0 which is 5.0 %

<h1>4.Write program to apply if, match, break and continue statements for decision making.</h1>

In [2]:
num = int(input("Enter a number between 1 and 5: "))

# IF statement
if num % 2 == 0:
    print(num, "is Even")
else:
    print(num, "is Odd")

#MATCH statement
match num:
    case 1:
        print("Number is ONE")
    case 2:
        print("Number is TWO")
    case 3:
        print("Number is THREE")
    case 4:
        print("Number is FOUR")
    case 5:
        print("Number is FIVE")
    case _:
        print("Invalid choice!")

#BREAK and CONTINUE in loop
print("\nLoop demonstration (1 to 10):")
for i in range(1, 11):
    if i == num:
        print("Breaking loop at:", i)
        break        
    if i % 2 == 0:
        continue     
    print("Odd number:", i)

Enter a number between 1 and 5:  4

4 is Even
Number is FOUR

Loop demonstration (1 to 10):
Odd number: 1
Odd number: 3
Breaking loop at: 4

<h2>5.Write program to utilize different loop statements to solve meaning ful problems.</h2>

In [4]:
#FOR loop
total = 0
for i in range(1, 11):
    total += i
print("1.Sum of first 10 natural numbers:", total)

# WHILE loop 
num = 12345
rev = 0
n = num
while n > 0:
    digit = n % 10
    rev = rev * 10 + digit
    n //= 10
print("2.Reverse of", num, "is", rev)

#Nested FOR loops 
print("\n3.Multiplication Table (1 to 5):")
for i in range(1, 6):
    for j in range(1, 6):
        print(i * j, end="\t")
    print()

#WHILE loop with break 
n = 91
divisor = 2
while divisor <= n:
    if n % divisor == 0:
        print("\n4.Smallest divisor of", n, "is", divisor)
        break
    divisor += 1

#FOR loop with continue
print("\n5.Odd numbers between 1 and 20:")
for i in range(1, 21):
    if i % 2 == 0:
        continue
    print(i, end=" ")

1.Sum of first 10 natural numbers: 55
2.Reverse of 12345 is 54321

3.Multiplication Table (1 to 5):
1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

4.Smallest divisor of 91 is 7

5.Odd numbers between 1 and 20:
1 3 5 7 9 11 13 15 17 19

<h2>6.Write program to demonstrate input validation using loop.</h2>

In [5]:
while True:
    try:
        num = int(input("Enter a number between 1 and 10: "))
        if 1 <= num <= 10:
            print("Thank you! You entered:", num)
            break   # exit loop if input is valid
        else:
            print("Invalid input. Number not in range 1-10. Try again.")
    except ValueError:
        print("Invalid input. Please enter an integer.")

Enter a number between 1 and 10:  4

Thank you! You entered: 4

<h2>7.Write program to create different patterns using nested loop.</h2>

In [9]:
n = 5  

# 1. Right-angled triangle pattern
print("1. Right-angled Triangle:")
for i in range(1, n+1):
    print("* " * i)

1. Right-angled Triangle:
*
* *
* * *
* * * *
* * * * *

In [10]:
# 2. Inverted right-angled triangle
print("\n2. Inverted Right-angled Triangle:")
for i in range(n, 0, -1):
    print("* " * i)

2. Inverted Right-angled Triangle:
* * * * *
* * * *
* * *
* *
*

In [11]:
# 3. Pyramid pattern
print("\n3. Pyramid Pattern:")
for i in range(1, n+1):
    print(" " * (n-i) + "* " * i)

3. Pyramid Pattern:
    *
   * *
  * * *
 * * * *
* * * * *

In [12]:
# 4. Inverted pyramid
print("\n4. Inverted Pyramid Pattern:")
for i in range(n, 0, -1):
    print(" " * (n-i) + "* " * i)

4. Inverted Pyramid Pattern:
* * * * *
 * * * *
  * * *
   * *
    *

In [13]:
# 5. Number triangle pattern
print("\n5. Number Triangle:")
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

5. Number Triangle:
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
# 6. Diamond pattern
print("\n6. Diamond Pattern:")
# Upper part
for i in range(1, n+1):
    print(" " * (n-i) + "* " * i)
# Lower part
for i in range(n-1, 0, -1):
    print(" " * (n-i) + "* " * i)

6. Diamond Pattern:
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

<h2>8.Write program to make use of infinite loop.</h2>

In [6]:
print("This program keeps asking for a number until you enter 0 to exit.")

while True:  # Infinite loop
    num = int(input("Enter a number (0 to exit): "))
    
    if num == 0:
        print("Exiting the loop. Goodbye!")
        break   # Exit the loop
    
    print("You entered:", num)

This program keeps asking for a number until you enter 0 to exit.

Enter a number (0 to exit):  5

You entered: 5

Enter a number (0 to exit):  6

You entered: 6

Enter a number (0 to exit):  0

Exiting the loop. Goodbye!

<h2>9.Write program to create list, add elements in list, removeelementsfrom list and displaylist items.</h2>

<h3>1.Create a list</h3>

In [7]:
fruits = ["Apple", "Banana", "Cherry"]
print("List with initial elements:", fruits)

List with initial elements: ['Apple', 'Banana', 'Cherry']

<h3>2.Add elements to a list</h3>

In [18]:
fruits = ["Apple", "Banana"]

# Add a single element
fruits.append("Cherry")
print("After appending 'Cherry':", fruits)

# Add multiple elements
fruits.extend(["Dates", "Elderberry"])
print("After extending list:", fruits)

# Insert element at specific position
fruits.insert(1, "Blueberry")
print("After inserting 'Blueberry' at index 1:", fruits)

After appending 'Cherry': ['Apple', 'Banana', 'Cherry']
After extending list: ['Apple', 'Banana', 'Cherry', 'Dates', 'Elderberry']
After inserting 'Blueberry' at index 1: ['Apple', 'Blueberry', 'Banana', 'Cherry', 'Dates', 'Elderberry']

<h3>3.Remove elements from a list</h3>

In [19]:
fruits = ["Apple", "Blueberry", "Banana", "Cherry", "Dates"]

# Remove by value
fruits.remove("Banana")
print("After removing 'Banana':", fruits)

# Remove by index using pop
removed_item = fruits.pop(2)
print(f"Removed item at index 2: {removed_item}")
print("List after pop operation:", fruits)

# Remove last item
last_item = fruits.pop()
print(f"Removed last item: {last_item}")
print("List now:", fruits)

After removing 'Banana': ['Apple', 'Blueberry', 'Cherry', 'Dates']
Removed item at index 2: Cherry
List after pop operation: ['Apple', 'Blueberry', 'Dates']
Removed last item: Dates
List now: ['Apple', 'Blueberry']

<h3>4.Display list items</h3>

In [20]:
fruits = ["Apple", "Blueberry", "Cherry"]

print("Displaying all list items:")
for item in fruits:
    print(item)

Displaying all list items:
Apple
Blueberry
Cherry

<h2>10.Write program to make use of list slicing concept to display elements of list.</h2>

In [23]:
fruits = ["Apple", "Banana", "Cherry", "Dates", "Elderberry", "Fig", "Grapes"]
print("Original List:", fruits)

# 1. Slice first 3 elements
print("1.First 3 elements:", fruits[0:3])

# 2. Slice from index 2 to 5
print("2.Elements from index 2 to 4:", fruits[2:5])

# 3. Slice from beginning to index 4
print("3.Elements from start to index 4:", fruits[:5])

# 4. Slice from index 3 to end
print("4.Elements from index 3 to end:", fruits[3:])

# 5. Slice with step 2 (every 2nd element)
print("5.Every 2nd element:", fruits[::2])

# 6. Reverse the list using slicing
print("6.Reversed List:", fruits[::-1])

Original List: ['Apple', 'Banana', 'Cherry', 'Dates', 'Elderberry', 'Fig', 'Grapes']
1.First 3 elements: ['Apple', 'Banana', 'Cherry']
2.Elements from index 2 to 4: ['Cherry', 'Dates', 'Elderberry']
3.Elements from start to index 4: ['Apple', 'Banana', 'Cherry', 'Dates', 'Elderberry']
4.Elements from index 3 to end: ['Dates', 'Elderberry', 'Fig', 'Grapes']
5.Every 2nd element: ['Apple', 'Cherry', 'Elderberry', 'Grapes']
6.Reversed List: ['Grapes', 'Fig', 'Elderberry', 'Dates', 'Cherry', 'Banana', 'Apple']

<h2>11.Write program to elaborate different list methods.</h2>

<h3>1.Append() and Extend()</h3>

In [25]:
fruits = ["Apple", "Banana"]

fruits.append("Cherry")
print("After append:", fruits)

fruits.extend(["Dates", "Elderberry"])
print("After extend:", fruits)

After append: ['Apple', 'Banana', 'Cherry']
After extend: ['Apple', 'Banana', 'Cherry', 'Dates', 'Elderberry']

<h3>2.Insert()</h3>

In [26]:
fruits = ["Apple", "Banana", "Cherry"]

fruits.insert(1, "Blueberry")
print("After insert at index 1:", fruits)

After insert at index 1: ['Apple', 'Blueberry', 'Banana', 'Cherry']

<h3>3.Remove() and Pop()</h3>

In [27]:
fruits = ["Apple", "Blueberry", "Cherry", "Dates"]

fruits.remove("Blueberry")
print("After remove 'Blueberry':", fruits)

popped_item = fruits.pop()
print("Popped item:", popped_item)
print("After pop:", fruits)

After remove 'Blueberry': ['Apple', 'Cherry', 'Dates']
Popped item: Dates
After pop: ['Apple', 'Cherry']

<h3>4.Index() and Count()</h3>

In [28]:
fruits = ["Apple", "Cherry", "Apple", "Dates"]

print("Index of 'Cherry':", fruits.index("Cherry"))

print("Count of 'Apple':", fruits.count("Apple"))

Index of 'Cherry': 1
Count of 'Apple': 2

<h3>5.Sort(), Reverse(), Clear()</h3>

In [30]:
fruits = ["Banana", "Apple", "Dates", "Cherry"]

fruits.sort()
print("Sorted list:", fruits)

fruits.reverse()
print("Reversed list:", fruits)

fruits.clear()
print("After clear:", fruits)

Sorted list: ['Apple', 'Banana', 'Cherry', 'Dates']
Reversed list: ['Dates', 'Cherry', 'Banana', 'Apple']
After clear: []

<h2>12.Write program to apply list comprehension.</h2>

<h3>Demonstrating List Comprehension</h3>

In [8]:
# 1. list of numbers from 1 to 10
numbers = [i for i in range(1, 11)]
print("1.Numbers from 1 to 10:", numbers)

# 2.  list of squares of numbers from 1 to 10
squares = [i**2 for i in range(1, 11)]
print("2.Squares of numbers:", squares)

# 3. list of even numbers from 1 to 20
evens = [i for i in range(1, 21) if i % 2 == 0]
print("3.Even numbers from 1 to 20:", evens)

# 4.  list of strings in uppercase
fruits = ["apple", "banana", "cherry"]
upper_fruits = [fruit.upper() for fruit in fruits]
print("4.Fruits in uppercase:", upper_fruits)

# 5. Nested list comprehension → create a 3x3 matrix
matrix = [[i*j for j in range(1, 4)] for i in range(1, 4)]
print("5.3x3 Matrix using nested list comprehension:")
for row in matrix:
    print(row)

1.Numbers from 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2.Squares of numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
3.Even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
4.Fruits in uppercase: ['APPLE', 'BANANA', 'CHERRY']
5.3x3 Matrix using nested list comprehension:
[1, 2, 3]
[2, 4, 6]
[3, 6, 9]

<h2>13.Write program to illustrate two-dimensional list.</h2>

In [36]:
# 1. Create a list of numbers from 1 to 10
numbers = [i for i in range(1, 11)]
print("1.Numbers from 1 to 10:", numbers)

# 2. Create a list of squares of numbers from 1 to 10
squares = [i**2 for i in range(1, 11)]
print("2.Squares of numbers:", squares)

# 3. Create a list of even numbers from 1 to 20
evens = [i for i in range(1, 21) if i % 2 == 0]
print("3.Even numbers from 1 to 20:", evens)

# 4. Create a list of strings in uppercase
fruits = ["apple", "banana", "cherry"]
upper_fruits = [fruit.upper() for fruit in fruits]
print("4.Fruits in uppercase:", upper_fruits)

# 5. Nested list comprehension → create a 3x3 matrix
matrix = [[i*j for j in range(1, 4)] for i in range(1, 4)]
print("5.3x3 Matrix using nested list comprehension:")
for row in matrix:
    print(row)

1.Numbers from 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2.Squares of numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
3.Even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
4.Fruits in uppercase: ['APPLE', 'BANANA', 'CHERRY']
5.3x3 Matrix using nested list comprehension:
[1, 2, 3]
[2, 4, 6]
[3, 6, 9]

<h2>14.Write program to create tuple, add elements in tuple, remove elements from tuple and display tuple items. </h2>

<h3>1.Create a tuple</h3>

In [38]:
fruits = ("Apple", "Banana", "Cherry")
print("Original tuple:", fruits)

Original tuple: ('Apple', 'Banana', 'Cherry')

<h3>2.Add elements to a tuple</h3>

In [40]:
fruits = ("Apple", "Banana", "Cherry")

fruits_list = list(fruits)
fruits_list.append("Dates")  # Add single element
fruits_list.extend(["Elderberry", "Fig"])  # Add multiple elements

fruits = tuple(fruits_list)
print("Tuple after adding elements:", fruits)

Tuple after adding elements: ('Apple', 'Banana', 'Cherry', 'Dates', 'Elderberry', 'Fig')

<h3>3.Remove elements from a tuple</h3>

In [41]:
fruits = ("Apple", "Banana", "Cherry", "Dates", "Elderberry")

fruits_list = list(fruits)
fruits_list.remove("Banana")  # Remove by value

fruits = tuple(fruits_list)
print("Tuple after removing 'Banana':", fruits)

Tuple after removing 'Banana': ('Apple', 'Cherry', 'Dates', 'Elderberry')

<h2>4.Display tuple items</h2>

In [42]:
fruits = ("Apple", "Cherry", "Dates", "Elderberry")

print("Displaying all tuple items:")
for item in fruits:
    print(item)

Displaying all tuple items:
Apple
Cherry
Dates
Elderberry

<h2>15.Write program to create dictionary, add elements in dictionary, remove elements from dictionary and display dictionary items. </h2>

<h3>1.Create a dictionary</h3>

In [9]:
student = {"name": "Nisha", "age": 20, "grade": "A"}
print("Original Dictionary:", student)

Original Dictionary: {'name': 'Nisha', 'age': 20, 'grade': 'A'}

<h3>2.Add elements to a dictionary</h3>

In [10]:
student = {"name": "Nisha", "age": 20}

# Add a single element
student["grade"] = "A"

# Add multiple elements using update()
student.update({"roll_no": 101, "section": "B"})
print("Dictionary after adding elements:", student)

Dictionary after adding elements: {'name': 'Nisha', 'age': 20, 'grade': 'A', 'roll_no': 101, 'section': 'B'}

<h3>3.Remove elements from a dictionary</h3>

In [11]:
student = {"name": "Nisha", "age": 20, "grade": "A", "roll_no": 101}

# Remove by key using pop()
removed_value = student.pop("age")
print("Removed value:", removed_value)
print("Dictionary after pop:", student)

# Remove last inserted item using popitem()
last_item = student.popitem()
print("Last removed item:", last_item)
print("Dictionary now:", student)

Removed value: 20
Dictionary after pop: {'name': 'Nisha', 'grade': 'A', 'roll_no': 101}
Last removed item: ('roll_no', 101)
Dictionary now: {'name': 'Nisha', 'grade': 'A'}

<h3>4.Display dictionary items</h3>

In [12]:
student = {"name": "Nisha", "grade": "A", "roll_no": 101}

print("Displaying all dictionary items:")
for key, value in student.items():
    print(f"{key} : {value}")

Displaying all dictionary items:
name : Nisha
grade : A
roll_no : 101

<h2>16.Write program to create set, add elements in set, remove elements from set and display set items</h2>

<h3>1.Creating a set</h3>

In [5]:
my_set = {1, 2, 3, 4, 5}
print("Initial Set:", my_set)

Initial Set: {1, 2, 3, 4, 5}

<h3>2.Adding elements to a set</h3>

In [6]:
my_set = {10, 20, 30}
print("Before adding:", my_set)

my_set.add(40)          
my_set.update([50, 60]) 

print("After adding:", my_set)

Before adding: {10, 20, 30}
After adding: {40, 10, 50, 20, 60, 30}

<h3>3.Removing elements from a set</h3>

In [7]:
my_set = {100, 200, 300, 400, 500}
print("Before removing:", my_set)

my_set.remove(200)    
my_set.discard(600)
my_set.pop()        

print("After removing:", my_set)

Before removing: {400, 100, 500, 200, 300}
After removing: {100, 500, 300}

<h3>4.Displaying set items</h3>

In [8]:
my_set = {"apple", "banana", "cherry"}

print("Set items are:")
for item in my_set:
    print(item)

Set items are:
apple
cherry
banana

<h2>17.Write program to perform set operations.</h2>

In [10]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print("1.Set A:", A)
print("2.Set B:", B)

# Union (elements present in either A or B)
print("3.Union (A ∪ B):", A | B)

# Intersection (elements present in both A and B)
print("4.Intersection (A ∩ B):", A & B)

# Difference (elements in A but not in B)
print("5.Difference (A - B):", A - B)

# Difference (elements in B but not in A)
print("6.Difference (B - A):", B - A)

# Symmetric Difference (elements in A or B but not both)
print("7.Symmetric Difference (A △ B):", A ^ B)

1.Set A: {1, 2, 3, 4, 5}
2.Set B: {4, 5, 6, 7, 8}
3.Union (A ∪ B): {1, 2, 3, 4, 5, 6, 7, 8}
4.Intersection (A ∩ B): {4, 5}
5.Difference (A - B): {1, 2, 3}
6.Difference (B - A): {8, 6, 7}
7.Symmetric Difference (A △ B): {1, 2, 3, 6, 7, 8}

<h2>18.Write program to make use of string manipulation methods and also perform different string 
operations.</h2>

<h3>1.String Manipulation Methods</h3>

In [15]:
text = " Hello Python Programming "

print("1.Original String:", text)

# Removing extra spaces
print("2.Strip:", text.strip())

# Converting cases
print("3.Uppercase:", text.upper())
print("4.Lowercase:", text.lower())
print("5.Title Case:", text.title())
print("6.Swap Case:", text.swapcase())

# Replacing
print("7.Replace 'Python' with 'Java':", text.replace("Python", "Java"))

# Splitting and Joining
words = text.split()
print("8.Split into words:", words)
joined = "-".join(words)
print("9.Join with hyphen:", joined)

# Finding and Counting
print("10.Find 'Python':", text.find("Python"))
print("11.Count 'o':", text.count("o"))

# Checking
print("12.Starts with ' Hello':", text.startswith(" Hello"))
print("13.Ends with 'ing ':", text.endswith("ing "))

1.Original String:  Hello Python Programming
2.Strip: Hello Python Programming
3.Uppercase:  HELLO PYTHON PROGRAMMING
4.Lowercase:  hello python programming
5.Title Case:  Hello Python Programming
6.Swap Case:  hELLO pYTHON pROGRAMMING
7.Replace 'Python' with 'Java':  Hello Java Programming
8.Split into words: ['Hello', 'Python', 'Programming']
9.Join with hyphen: Hello-Python-Programming
10.Find 'Python': 7
11.Count 'o': 3
12.Starts with ' Hello': True
13.Ends with 'ing ': True

<h3>2.String Operations</h3>

In [15]:
str1 = "Hello"
str2 = "World"
sample = "Programming"

# Concatenation
print("Concatenation:", str1 + " " + str2)

# Repetition
print("Repetition:", str1 * 3)

# Slicing
print("Original:", sample)
print("Slicing [0:6]:", sample[0:6])
print("Slicing [-3:]:", sample[-3:])

# Membership
print("'Pro' in sample:", "Pro" in sample)
print("'Java' not in sample:", "Java" not in sample)

Concatenation: Hello World
Repetition: HelloHelloHello
Original: Programming
Slicing [0:6]: Progra
Slicing [-3:]: ing
'Pro' in sample: True
'Java' not in sample: True

<h2>19.Write program to elaborate object oriented concept with simple examples.</h2>

<h3>1.Class and Object</h3>

In [16]:
#class
class Student:
    def __init__(self, name, age):
        self.name = name   
        self.age = age

    def display(self):     
        print(f"Name: {self.name}, Age: {self.age}")

# objects
s1 = Student("Nisha", 20)
s2 = Student("Bob", 22)

s1.display()
s2.display()

Name: Nisha, Age: 20
Name: Bob, Age: 22

<h2>2.Encapsulation</h2>

In [18]:
class BankAccount:
    def __init__(self, owner, balance):
        self.owner = owner
        self.__balance = balance  

    def deposit(self, amount):
        self.__balance += amount
        print("Deposited:", amount)

    def withdraw(self, amount):
        if amount <= self.__balance:
            self.__balance -= amount
            print("Withdrawn:", amount)
        else:
            print("Insufficient Balance")

    def show_balance(self):
        print("Balance:", self.__balance)

# Example
account = BankAccount("Alice", 1000)
account.deposit(500)
account.withdraw(200)
account.show_balance()

Deposited: 500
Withdrawn: 200
Balance: 1300

<h2>3.Inheritance</h2>

In [19]:
class Animal:
    def speak(self):
        print("This is an animal")

# Child class inheriting from Animal
class Dog(Animal):
    def speak(self):
        print("Dog says Woof!")

class Cat(Animal):
    def speak(self):
        print("Cat says Meow!")

# Example
a = Animal()
d = Dog()
c = Cat()

a.speak()
d.speak()
c.speak()

This is an animal
Dog says Woof!
Cat says Meow!

<h2>4.Polymorphism</h2>

In [21]:
class Shape:
    def area(self):
        pass   

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius * self.radius

class Rectangle(Shape):
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

# Example 
shapes = [Circle(5), Rectangle(4, 6)]

for shape in shapes:
    print("Area:", shape.area())

Area: 78.5
Area: 24

<h3>20.Write program to apply different types of inheritance.</h3>

<h2>1.Single Inheritance</h2>

In [17]:
class Parent:
    def show_parent(self):
        print("This is the Parent class.")

class Child(Parent):  
    def show_child(self):
        print("This is the Child class.")

c = Child()
c.show_parent()
c.show_child()

This is the Parent class.
This is the Child class.

<h2>2.Multiple Inheritance</h2>

In [24]:
class Father:
    def show_father(self):
        print("Father's property")

class Mother:
    def show_mother(self):
        print("Mother's property")

class Son(Father, Mother):  
    def show_son(self):
        print("Son inherits from both Father and Mother")

s = Son()
s.show_father()
s.show_mother()
s.show_son()

Father's property
Mother's property
Son inherits from both Father and Mother

<h2>3.Multilevel Inheritance</h2>

In [18]:
class Grandparent:
    def show_grandparent(self):
        print("This is the Grandparent class.")

class Parent(Grandparent):  
    def show_parent(self):
        print("This is the Parent class,")

class Child(Parent):   
    def show_child(self):
        print("This is the Child class.")

c = Child()
c.show_grandparent()
c.show_parent()
c.show_child()

This is the Grandparent class.
This is the Parent class,
This is the Child class.

<h2>4.Hierarchical Inheritance</h2>

In [27]:
class Animal:
    def sound(self):
        print("Animals make different sounds")

class Dog(Animal):
    def sound(self):
        print("Dog says Woof!")

class Cat(Animal):
    def sound(self):
        print("Cat says Meow!")

d = Dog()
c = Cat()
d.sound()
c.sound()

Dog says Woof!
Cat says Meow!

<h2>5.Hybrid Inheritance</h2>

In [28]:
class A:
    def method_A(self):
        print("Class A")

class B(A):
    def method_B(self):
        print("Class B inherits from A")

class C(A):
    def method_C(self):
        print("Class C inherits from A")

class D(B, C):   
    def method_D(self):
        print("Class D inherits from both B and C")

d = D()
d.method_A()
d.method_B()
d.method_C()
d.method_D()

Class A
Class B inherits from A
Class C inherits from A
Class D inherits from both B and C

<h2>21.Write program to elaborate polymorphism and data hiding concept.</h2>

<h3>1.Polymorphism</h3>

In [29]:
class Animal:
    def sound(self):
        print("Animals make sounds")

class Dog(Animal):
    def sound(self):
        print("Dog says Woof!")

class Cat(Animal):
    def sound(self):
        print("Cat says Meow!")

# Demonstration of Polymorphism
animals = [Animal(), Dog(), Cat()]

for a in animals:
    a.sound()

Animals make sounds
Dog says Woof!
Cat says Meow!

<h2>2.Data Hiding</h2>

In [30]:
class BankAccount:
    def __init__(self, owner, balance):
        self.owner = owner
        self.__balance = balance   

    def deposit(self, amount):
        self.__balance += amount
        print(f"Deposited: {amount}")

    def withdraw(self, amount):
        if amount <= self.__balance:
            self.__balance -= amount
            print(f"Withdrawn: {amount}")
        else:
            print("Insufficient Balance")

    def show_balance(self):
        print(f"Balance for {self.owner}: {self.__balance}")

# Example
account = BankAccount("Alice", 1000)
account.deposit(500)
account.withdraw(200)
account.show_balance()

Deposited: 500
Withdrawn: 200
Balance for Alice: 1300

<h3>22.Write program to divide work in functions</h3>

In [1]:
# add 
def add(a, b):
    return a + b

#  subtract 
def subtract(a, b):
    return a - b

#  multiply 
def multiply(a, b):
    return a * b

# divide 
def divide(a, b):
    if b != 0:
        return a / b
    else:
        return "Error! Division by zero."

def main():
    x = float(input("Enter first number: "))
    y = float(input("Enter second number: "))

    print("Addition:", add(x, y))
    print("Subtraction:", subtract(x, y))
    print("Multiplication:", multiply(x, y))
    print("Division:", divide(x, y))

main()

Enter first number:  5
Enter second number:  2

Addition: 7.0
Subtraction: 3.0
Multiplication: 10.0
Division: 2.5

<h2>24.Write program to store output in file.</h2>

In [2]:
file = open("output.txt", "w")

file.write("Hello! This is stored in a file.\n")
file.write("Python can write text to files easily.\n")

for i in range(1, 6):
    file.write(f"Number: {i}, Square: {i*i}\n")

file.close()

print("Data has been written to 'output.txt'.")

Data has been written to 'output.txt'.

<h2>25.Write program to read input from file.</h2>

In [4]:
try:
    with open("input.txt", "r") as file:
        content = file.read()  
        print("File Content:\n", content)

except FileNotFoundError:
    print("Error: 'input.txt' not found. Please make sure the file exists in the same folder as this script.")

Error: 'input.txt' not found. Please make sure the file exists in the same folder as this script.

<h2>26.Write program to handle different types of exception.</h2>

<h3>1.Handling ZeroDivisionError</h3>

In [5]:
try:
    a = 10
    b = 0
    result = a / b
except ZeroDivisionError:
    print("Error: Cannot divide by zero!")

Error: Cannot divide by zero!

<h3>2.Handling ValueError</h3>

In [6]:
try:
    num = int(input("Enter a number: "))
    print("You entered:", num)
except ValueError:
    print("Error: Invalid input! Please enter a valid number.")

Enter a number:  5

You entered: 5

<h3>3.Handling FileNotFoundError</h3>

In [7]:
try:
    with open("nonexistent_file.txt", "r") as file:
        content = file.read()
except FileNotFoundError:
    print("Error: File not found!")

Error: File not found!

<h3>4.Handling Multiple Exceptions</h3>

In [9]:
try:
    x = int(input("Enter numerator: "))
    y = int(input("Enter denominator: "))
    print("Result:", x / y)
except ZeroDivisionError:
    print("Error: Cannot divide by zero!")
except ValueError:
    print("Error: Invalid input! Enter numeric values only.")

Enter numerator:  5
Enter denominator:  6

Result: 0.8333333333333334

<h3>5.Handling Generic Exception (Exception)</h3>

In [10]:
try:
    print(10 + "10")  # This will raise TypeError
except Exception as e:
    print("An unexpected error occurred:", e)

An unexpected error occurred: unsupported operand type(s) for +: 'int' and 'str'